.box_outer{
    height: 250px;
    width: 250px;
    background-color: blueviolet;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.box_inner{
    height: 100px;
    width: 100px;
    background-color: rgb(43, 226, 52);
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   position: absolute;
}
