body{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}

.red{
    height: 550px;
    background: red;
    
}
.green{
    height: 550px;
    background: green;

}
.orange{
    height: 550px;
    background: rgb(62, 22, 241);
}
.circle{
    height: 550px;
    background: rgb(201, 201, 171);
}
.back_btn{
    background: blueviolet;
    color: aliceblue;
    /* width: 50px; */
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    /* height: 15px; */
    position: fixed;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
}
.back_btn.xyz{
    opacity: 1;
    pointer-events: auto;

}